.btn{
  display: inline-block;
  background-color: #1EDD88;
  border-radius: 50px;
  padding: 14px 30px;
  color: white;

}

.btn:hover{
  opacity: 1;
  background: #6AD58B;
  text-decoration: none;
  color: white;
}

.btn a {
  text-decoration: none
}
