.cards{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.card{
  text-align: center;
}

.card img{
  height: 100px;

}

@media (max-width: 630px) {
  /* For a screen < 720px, this CSS will be read */
  .cards {
    display: block;
  }
}
